@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

#root {

  font-family:  Vazir !important;
}

body {

  direction: rtl;
background-color: gainsboro;
}


@font-face {
  font-family: Vazir;
  font-weight: normal;
  font-style: normal;

  src: url('./fonts/vazir-font-v18.0.0/Vazir-Medium.eot');
  src: url('./fonts/vazir-font-v18.0.0/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
    url('./fonts/vazir-font-v18.0.0/Vazir-Medium.woff2') format('woff2'),
    url('./fonts/vazir-font-v18.0.0/Vazir-Medium.woff') format('woff'),
    url('./fonts/vazir-font-v18.0.0/Vazir-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Vazir;
  font-weight: bold;
  font-style: bold;

  src: url('./fonts/vazir-font-v18.0.0/Vazir-Bold.eot');
  src: url('./fonts/vazir-font-v18.0.0/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/vazir-font-v18.0.0/Vazir-Bold.woff2') format('woff2'),
    url('./fonts/vazir-font-v18.0.0/Vazir-Bold.woff') format('woff'),
    url('./fonts/vazir-font-v18.0.0/Vazir-Bold.ttf') format('truetype');
  font-display: swap;
}